<div class="container py-5">
  <div class="row">
    <h5 class="col-4 text-center">会員情報編集</h5>
  </div>

  <div class="col-12 mt-4">
    <%= form_with model: @customer, url: information_customers_path do |f| %>
      <div class="field row mt-2">
        <p class="col-3">名前</p>
        <%= f.text_field :last_name, autofocus: true, placeholder: '令和', class: "mr-md-5" %>
        <%= f.text_field :first_name, autofocus: true, placeholder: '道子' %>
      </div>

      <div class="field row mt-2">
        <p class="col-3">フリガナ</p>
        <%= f.text_field :last_name_kana, autofocus: true, placeholder: 'レイワ', class: "mr-md-5" %>
        <%= f.text_field :first_name_kana, autofocus: true, placeholder: 'ミチコ' %>
      </div>

      <% if session[:customer].present? %>
        <% @customer.postcode = session[:customer]["postcode"] %>
        <% @customer.address = session[:customer]["address"] %>
      <% end %>

      <div class="field row mt-2">
        <p class="col-3">郵便番号</p>
        <%= f.text_field :postcode, autofocus: true, value: @customer.postcode, placeholder: '0000000' %>
        <%= f.submit "検索",formaction: lookup_address_customers_path, formmethod: :get, class: "postcode_btn ml-2" %>
      </div>

      <div class="field row mt-2">
        <p class="col-3">住所</p>
        <%= f.text_field :address, autofocus: true, value: @customer.address, placeholder: '東京都渋谷区代々木神園町0-0', class: "col-md-5" %>
      </div>

      <% if session[:customer].present? %>
        <% session[:customer].clear %>
      <% end %>

      <div class="field row mt-2">
        <p class="col-3">電話番号</p>
        <%= f.text_field :phone_number, autofocus: true, placeholder: '00000000000' %>
      </div>

      <div class="field row mt-2">
        <p class="col-3">メールアドレス</p>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'sample@example.com' %>
      </div>

      <div class="actions row mt-3">
        <div class="col-3"></div>
        <%= f.submit "編集内容を保存",class: "btn btn-sm btn-success mr-md-5" %>
        <div class="col-1"></div>
        <%= link_to "退会する", unsubscribe_customers_path, class: "btn btn-sm btn-danger px-3" %>
      </div>
    <% end %>
  </div>
</div>