<!--モーダルの周囲を薄暗くするマスク-->
<div id="mask" class="hidden"></div>
<!--あとからJavaScriptで置き換え。-->
<div id="modal" class="hidden"></div>

<div>
  <div class="d-flex flex-wrap">
    <% products.each do |product| %>
      <div class="product mr-3 d-flex flex-column mb-4">
        <%= link_to product_path(product.id), remote: true do %>
          <%= image_tag product.get_image(180, 120), class: 'm-1 img-fluid mb-1' %>
        <% end %>
        <p class="product_name ml-1"><%= product.name %></p>
        <span class="ml-1">¥<%= product.price %></span>
      </div>
    <% end %>
  </div>
  <div class="d-flex justify-content-center text-center">
    <%= paginate products %>
  </div>
</div>