<div>
  <div class="d-flex flex-wrap">
    <% products.each do |product| %>
      <div class="mr-3 d-flex flex-column mb-4">
        <%= link_to product_path(product.id) do %>
          <%= image_tag product.get_image(190, 130), class: 'img-fluid mb-1' %>
        <% end %>
        <p class="product_name"><%= product.name %></p>
        <span class="">¥<%= product.price %></span>
      </div>
    <% end %>
  </div>
  <div class="d-flex justify-content-center text-center">
    <%= paginate products %>
  </div>
</div>