<div class="container mt-5">
  <div class="row">
    <div class="col-md-3">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th class="text-center">ジャンル検索</th>
          </tr>
        </thead>
        <tbody>
          <% @genres.each do |genre| %>
            <tr>
              <td class="align-middle"><%= genre.name %></td>
            </tr>
          <% end %>
        </tbody>

      </table>
    </div>

    <div class="col-8 offset-1'">
      <%= image_tag "top_image.png", style: "width: 800px; height: 400px; position: relative;" %>
      <p style="position:absolute; top:120px; left:160px; background-color:rgba(0,0,0,0.0); color:#FFF; font-size:22px;">
        ようこそながのCakeへ！<br>
        このサイトは、ケーキ販売のECサイトになります。<br>
        会員でない方も商品の閲覧はできますが、<br>
        購入には会員登録が必要になります。<br>
      </p>
      <h4 class ="mt-3">新着商品</h4>
    </div>
  </div>

  <div class="row mt-3 justify-content-around">
    <div class="col-3"></div>
    <% @products.each do |product| %>
      <div class="col-2">
        <%= image_tag product.get_image(130, 130)%><br>
        <%= product.name %><br>
        <%= "¥" + product.price.to_s(:delimited) %>
      </div>
    <% end %>
    <div class="col-12 text-right">
      <%= link_to "全ての商品を見る>", products_path %>
    </div>
  </div>
</div>
