<div class="container mt-5">
  <div class="row">
    <div class="col-md-3">
      <%= render '/public/products/genre', genres: @genres %>
    </div>
    <div class="col-9">
      <div class="top_slide">
        <h5 class="top_text">
          ようこそながのCakeへ！<br>
          このサイトは、ケーキ販売のECサイトになります。<br>
          会員でない方も商品の閲覧はできますが、<br>
          購入には会員登録が必要になります
        </h5>
        <ul class="p-0 slider">
          <li class="slider-item slider-item01"></li>
          <li class="slider-item slider-item02"></li>
          <li class="slider-item slider-item03"></li>
        </ul>
      </div>
      <!--< %= image_tag "top_image.png", style: "width: 800px; height: 400px; position: relative;" %>-->
      <!--<p style="position:absolute; top:120px; left:160px; background-color:rgba(0,0,0,0.0); color:#FFF; font-size:22px;">-->
      <!--  ようこそながのCakeへ！<br>-->
      <!--  このサイトは、ケーキ販売のECサイトになります。<br>-->
      <!--  会員でない方も商品の閲覧はできますが、<br>-->
      <!--  購入には会員登録が必要になります。<br>-->
      <!--</p>-->
      <h4 class ="mt-3">新着商品</h4>
    </div>
  </div>

  <div class="row mt-3 justify-content-around">
    <div class="col-3"></div>
    <% @products.each do |product| %>
    <div class="col">
      <%= link_to product_path(product.id) do %>
        <%= image_tag product.get_image(170, 120)%>
      <% end %><br>
      <%= product.name %><br>
      <%= "¥" + product.price.to_s(:delimited) %>
    </div>
    <% end %>
  </div>

  <div class="col-12 text-right">
    <%= link_to "全ての商品を見る>", products_path %>
  </div>
</div>


<script>
    $('.slider').slick({
    autoplay: true,//自動的に動き出すか。初期値はfalse。
    autoplaySpeed: 2000,//次のスライドに切り替わる待ち時間
    speed:1000,//スライドの動きのスピード。初期値は300。
    infinite: true,//スライドをループさせるかどうか。初期値はtrue。
    slidesToShow: 1,//スライドを画面に3枚見せる
    slidesToScroll: 1,//1回のスクロールで3枚の写真を移動して見せる
    arrows: true,//左右の矢印あり
    prevArrow: '<div class="slick-prev"></div>',//矢印部分PreviewのHTMLを変更
    nextArrow: '<div class="slick-next"></div>',//矢印部分NextのHTMLを変更
    dots: true,//下部ドットナビゲーションの表示
    });
</script>