<div class="container px-sm-0">
  <%= render 'layouts/errors', obj: @address %>
  <%= flash[:notice] %>
  <h4>配送先登録/一覧</h4>

  <%= form_with model: @address, local: true do |address| %>
    <div class="form-group row">
      <div class="col-3">
        <%= address.label :"郵便番号(ハイフンなし)", class: 'ml-4 mt-4' %>
      </div>
      <div class="col-9">
        <%= address.text_field :postcode, :placeholder => "0000000", class: 'col-4 mt-4' %>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-3">
        <%= address.label :"住所", class: 'ml-4 mt-1'%>
      </div>
      <div class="col-9">
        <%= address.text_area :address, :placeholder => "東京都渋谷区代々木神園町0-0",class: 'col-8 mt-1' %>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-3">
        <%= address.label :"宛名", class: 'ml-4 mt-1'%>
      </div>
      <div class="col-7">
        <%= address.text_field :name, :placeholder => "令和道子",class: 'col-5 mt-1' %>
      </div>
      <div class="col-2">
        <%= address.submit "新規登録", class: 'btn btn-success mt-1' %>
      </div>
    </div>
  <% end %>
</div>

<div class="table-responsive col-7 ml-5 mt-5">
  <table class="table table-condensed table-bordered">
    <thead>
      <tr>
        <th>郵便番号</th>
        <th>住所</th>
        <th>宛名</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @addresses.each do |address| %>
        <tr>
          <td><%= address.postcode %></td>
          <td><%= address.address %></td>
          <td><%= address.name %></td>
          <td>
            <%= link_to "編集する", edit_address_path(address), class: 'btn btn-success' %>
            <%= link_to "削除する", address_path(address), data: { confirm: '本当に削除しますか？' }, method: :delete, class: 'btn btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
