<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="d-flex justify-content-between">
        <h6>ショッピングカート</h6>
        <h6><%= link_to "カートを空にする", carts_destroy_all_path, method: :delete, class:"btn btn-danger" %></h6>
      </div>
      <table class="table table-borderless">
        <thead class="thead-light">
          <tr>
            <th class="border border-dark">商品名</th>
            <th class="border border-dark" style= "width: 160px">単価(税込)</th>
            <th class="border border-dark" style= "width: 200px">数量</th>
            <th class="border border-dark">小計</th>
            <th class="border border-dark" style= "width: 200px"></th>
          </tr>
        </thead>
        <!--< %= @carts.each do |cart| %>-->
        <tbody>
          <tr>
            <td class="align-middle border border-dark"><%= @carts.customer_id %></td> <!--本当はcart.products.name-->
            <td class="align-middle border border-dark"><%= @carts.with_tax_price.to_s(:delimited) %></td> <!--本当はcart.products.with〜-->
            <%= form_with url: cart_path(@carts.id), method: :patch do |f| %> <!--本当はcart.id〜-->
            <td class="align-middle border border-dark text-center"><%= f.select :amount, *[1..99], selected: @carts.amount, class: "form-control" %>
            <%= f.submit "変更", class: "ml-2 btn btn-success"%></td>
            <% end %>
            <td class="align-middle border border-dark"><%= @carts.subtoal.to_s(:delimited) %></td>
            <td class="align-middle border border-dark"><%= link_to "削除する", cart_path(@carts.id), class:"btn btn-danger" %></td>
            <% @total_price += @carts.subtoal %>
          </tr>
        </tbody>
        <!--< % end %>-->
        <tbody>
          <tr>
            <td class="align-middle" colspan="3"><%= link_to "買い物を続ける", products_path, class:"btn btn-primary" %></td>
            <td class="align-middle border border-dark table-active">合計金額</td>
            <td class="align-middle border border-dark"><%= @total_price.to_s(:delimited) %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="text-center"><%= link_to "情報入力に進む", new_order_path, class: "ml-4 btn btn-success"%></div>

</div>

<!--360 幅での表示-->