<div class="container">
  <div class="row px-4">
    <h5 class="ml-4 py-4">新規会員登録</h5>
  </div>

  <div class="col-12">
    <%= form_with model: @customer, url: customer_registration_path do |f| %>
      <%= render "public/shared/error_messages", resource: resource %>
      <div class="field row mt-2">
        <p class="col-3">名前</p>
        <%= f.label :'(姓)', class: 'col-1' %>
        <%= f.text_field :last_name, autofocus: true, placeholder: '令和' %>
        <%= f.label :'(名)', class: 'col-1' %>
        <%= f.text_field :first_name, autofocus: true, placeholder: '道子' %>
      </div>

      <div class="field row mt-2">
        <p class="col-3">フリガナ</p>
        <%= f.label :'(セイ)', class: 'col-1' %>
        <%= f.text_field :last_name_kana, autofocus: true, placeholder: 'レイワ' %>
        <%= f.label :'(メイ)', class: 'col-1' %>
        <%= f.text_field :first_name_kana, autofocus: true, placeholder: 'ミチコ' %>
      </div>

      <div class="field row mt-2">
        <p class="col-4">メールアドレス</p>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'sample@example.com' %>
      </div>
      
      <% if session[:customer].nil? %>
        <% session[:customer] = Customer.new %>
      <% end %>
      <div class="field row mt-2">
        <p class="col-4">郵便番号(ハイフンなし)</p>
        <%= f.text_field :postcode, autofocus: true, value: session[:customer]["postcode"], placeholder: '0000000' %>
        <%= f.submit "検索",formaction: lookup_address_customers_path, formmethod: :get %>
      </div>

      <div class="field row mt-2">
        <p class="col-4">住所</p>
        <%= f.text_field :address, autofocus: true, value: session[:customer]["address"], class: 'col-md-5', placeholder: '東京都渋谷区代々木神園町0-0' %>
      </div>
      <% session[:customer].clear %>

      <div class="field row mt-2">
        <p class="col-4">電話番号(ハイフンなし)</p>
        <%= f.text_field :phone_number, autofocus: true, placeholder: '00000000000' %>
      </div>

      <div class="field row mt-2">
        <p class="col-4">パスワード(6文字以上)</p>
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="field row mt-2">
        <p class="col-4">パスワード(確認用)</p>
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="actions row mt-3">
        <div class="col-4"></div>
        <%= f.submit "新規登録",class: "btn btn-sm btn-success px-5" %>
      </div>
    <% end %>
  </div>

  <div class="row px-4">
    <h5 class="col-12 px-4 mt-4">既に登録済みの方</h5>
    <div class="ml-5">
      <%= render "public/shared/links" %>
      <span>　からログインしてください。</span>
    </div>
  </div>
</div>
