<div class="container">
  <div class="row">
    <div class="col-12 px-5 py-4">
      <h4 class="px-4">新規会員登録</h4>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "public/shared/error_messages", resource: resource %>

        <div class="d-flex flex-row">
          <p class="col-3">名前</p>
          <div class="field col-4 text-right">
            <%= f.label :'(姓)'%>
            <%= f.text_field :last_name, autofocus: true, placeholder: '令和' %>
          </div>
          <div class="field col-4 text-right">
            <%= f.label :'(名)' %>
            <%= f.text_field :first_name, autofocus: true, placeholder: '道子' %>
          </div>
        </div>

        <div class="d-flex flex-row">
          <p class="col-3">フリガナ</p>
          <div class="field col-4 text-right">
            <%= f.label :'(セイ)' %>
            <%= f.text_field :last_name_kana, autofocus: true, placeholder: 'レイワ' %>
          </div>
          <div class="field col-4 text-right">
            <%= f.label :'(メイ)' %>
            <%= f.email_field :first_name_kana, autofocus: true, placeholder: 'ミチコ' %>
          </div>
        </div>

        <div class="d-flex flex-row">
          <p class="col-3">メールアドレス</p>
          <div class="field col-4 text-right">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'sample@example.com' %>
          </div>
        </div>

        <div class="d-flex flex-row">
          <p class="col-3">郵便番号(ハイフンなし)</p>
          <div class="field col-4 text-right">
            <%= f.text_field :postcode, autofocus: true, placeholder: '0000000' %>
          </div>
        </div>

        <div class="d-flex flex-row">
          <p class="col-3">住所</p>
          <div class="field col-4 text-right">
            <%= f.text_field :address, autofocus: true, placeholder: '東京都渋谷区代々木神園町0-0' %>
          </div>
        </div>

        <div class="d-flex flex-row">
          <p class="col-3">電話番号(ハイフンなし)</p>
          <div class="field col-4 text-right">
            <%= f.text_field :phone_number, autofocus: true, placeholder: '00000000000' %>
          </div>
        </div>

        <div class="d-flex flex-row">
          <p class="col-3">パスワード(6文字以上)</p>
          <div class="field col-4 text-right">
            <%= f.password_field :password, autocomplete: "new-password" %>
          </div>
        </div>

        <div class="d-flex flex-row">
          <p class="col-3">パスワード(確認用)</p>
          <div class="field col-4 text-right">
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </div>
        </div>

        <div class="actions">
          <%= f.submit "新規登録",class: "btn btn-sm btn-success px-5" %>
        </div>
      <% end %>

    </div>
      <h4 class="px-4">既に登録済みの方</h4>

      <div class="d-flex flex-row">
        <p>
          <%= render "public/shared/links" %>
          からログインしてください。
        </p>
      </div>

  </div>
</div>
