<div class ="container">
  <div class="row">
    <div class="col-8">
      <table class="table">
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
        </thead>
        <% @carts.each do |cart| %>
        <tbody>
          <tr>
            <td class="align-middle border border-dark"><%= cart.product.name %></td>
            <td class="align-middle border border-dark"><%= (cart.product.with_tax_price).to_s(:delimited) %></td>
            <td class="align-middle border border-dark text-center"><%= cart.amount %></td>
            <td class="align-middle border border-dark"><%= (cart.subtoal).to_s(:delimited) %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
      
      <div>
        <p>支払い方法</p><%= @order[:order]["payment_method"]_i18n %>
      </div>
      <div>
        <p>お届け先</p><%="〒 " + @order[:order]["delivary_postcode"] + @order[:order]["delivary_adress"]%>
        <p><%= @order[:order]["delivary_name"]%></p>
      </div>
      
      <%= link_to "注文を確定する", orders_path, method: :post, class: "btn btn-primary"%>
    </div>
    
    <div class="col-4">
      <table class="table">
        <tr><th>送料</th><td><%= @order[:order]["postage"] %></td></tr>
        <tr><th>商品合計</th><td><%= @total_price %></td></tr>
        <tr><th>請求金額</th><td><%= @order[:order]["total_price"] %></td></tr>
      </table>
    </div>
  </div>
</div>