<div class="container">
  <div class="row">
    <div class="col-12 px-5">
      <h5 class="col-3 ml-1 py-4">ログイン</h5>

      <h6 class="col-3 ml-3 py-4">会員の方はこちらからログイン</h6>
      <%= form_with model: @customer, url: session_path(resource_name) do |f| %>
        <div class="field form-inline">
          <%= f.label :メールアドレス, class: 'col-2' %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control w-50', placeholder: 'sample@example.com' %>
        </div>

        <div class="field form-inline mt-3">
          <%= f.label :パスワード, class: 'col-2' %>
          <%= f.password_field :password, autocomplete: "current-password", class: 'form-control w-50' %>
        </div>

        <div class="actions text-center mt-3">
          <%= f.submit "ログイン", class: 'btn btn-sm btn-primary px-4' %>
        </div>
      <% end %>

      <div class="col-12">
        <h6 class="col-4 px-4 mt-4">会員登録がお済みでない方</h6>
        <div class="col-8 ml-5">
          <%= render "public/shared/links" %>
          <span>　から新規登録を行ってください。</span>
        </div>
      </div>
    </div>
  </div>
</div>

