<footer class="pt-3 bg-white">
  <div class='container-fluid'>
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <%= link_to "#", class: 'nav-link text-dark' do %><i class="fab fa-instagram"></i><% end %>
      </li>
      <li class="nav-item">
        <%= link_to "#", class: 'nav-link text-dark' do %><i class="fab fa-facebook-f"></i><% end %>
      </li>
      <li class="nav-item">
        <%= link_to "#", class: 'nav-link text-dark' do %><i class="fab fa-twitter"></i><% end %>
      </li>
      <li class="nav-item">
        <%= link_to "#", class: 'nav-link text-dark' do %><i class="fab fa-youtube"></i><% end %>
      </li>
      <li class="nav-item">
        <%= link_to "#", class: 'nav-link text-dark' do %><i class="fab fa-line"></i><% end %>
      </li>
      <li class="nav-item">
        <%= link_to "#", class: 'nav-link text-dark' do %>お問い合わせ <i class="far fa-envelope"></i><% end %>
      </li>
    </ul>
  	<p class="text-center mt-4">© 2022 ながのCAKE</p>
  </div>
</footer>