<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <p>a</p>
    <%= link_to destroy_customer_session_path, method: :delete do %>
      <i class="fas fa-sign-out-alt"></i> Log out
    <% end %>
    <%= link_to new_customer_registration_path do %>
      <i class="fas fa-user-plus"></i> Sign up
    <% end %>

    <%= link_to new_customer_session_path do %>
      <i class="fas fa-sign-in-alt"></i> Log in
    <% end %>
    <% if customer_signed_in? %>
      <%= current_customer.last_name %>
    <% end %>

    <%= yield %>
  </body>
</html>
